.foswikiIpAddress,
.foswikiNetmask,
.foswikiMacAddress {
  font-family:monospace;
}
.select2-results .image-item,
.select2-container .image-item {
  background-color:transparent !important;
  background-repeat:no-repeat !important;
  background-position:0 0 !important;
  padding-left:35px;
  position:initial !important;
}
.select2-container .image-item {
  line-height:26px;
}
.select2-results .image-item {
  height:32px;
  line-height:32px;
}
table.foswikiDbqueryTable {
  border-collapse: collapse;
  border-top: solid 1px #ddd;
  margin-top: 10px;
  color: #555;
}
table.foswikiDbqueryTable th {
  font-weight: bold;
  border-bottom: solid 1px #ddd !important;
}
table.foswikiDbqueryTable td {
  padding-left: 15px;
  border-bottom: solid 1px #ddd !important;
}
